body {
    background: #ffffff;
}

.paper {
    margin-top: 8px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

form {
    width: '100%';
    margin-top: 3px;
}

.submit {
    margin: 3px 0px 2px;
}

.image{
    width: 60px;
    height: 50px;
    
}